{{ set_title('Deleted offers list') }}
<div class="clearfix col-md-12">
    <h1 class="pull-left">Dashboard:<span style="font-weight:300;">Deleted offers list</span></h1>
</div>
<br clear="all">
{{ include_js(asset_module('offers', 'manager/js/deleted.js'), '', '', true) }}
<div ng-controller="ListOffersController" ng-init="init()">
    <div class="col-md-9">
        <div class="input-group form-group">
            <div class="input-group-btn">
                <button type="button" class="btn" ng-click="clearSearchParam('traffic_type_id')" ng-class="!search.traffic_type_id ? 'btn-info' : 'btn-default'">All</button>
                <button type="button" class="btn" ng-click="search.traffic_type_id = 1" ng-class="search.traffic_type_id == 1 ? 'btn-info' : 'btn-default'">Adult</button>
                <button type="button" class="btn" ng-click="search.traffic_type_id = 3" ng-class="search.traffic_type_id == 3 ? 'btn-info' : 'btn-default'">Mainstream</button>
                <button type="button" class="btn" ng-click="search.traffic_type_id = 4" ng-class="search.traffic_type_id == 4 ? 'btn-info' : 'btn-default'">Dating</button>
            </div>
            <input type="search" ng-model="search.name"  class="form-control" placeholder="Search by name">
        </div>
    </div>
    <div class="col-md-3">
        <oi-select
                oi-options="item.id as item.name for item in partners track by item.id"
                oi-select-options="{
	                        cleanModel: true
	                    }"
                ng-model="search.partner_id"
                placeholder="Select partner..."></oi-select>
    </div>
    <br clear="all">
    <div class="form-group col-sm-4">
        <oi-select
                oi-options="item.id as item.login for item in affiliates track by item.id"
                oi-select-options="{
						cleanModel: true
					}"
                ng-model="search.affiliates"
                placeholder="Search by affiliate...">
        </oi-select>
    </div>
    <div class="form-group col-sm-2">
        <oi-select
                oi-options="item.id as item.name for item in countries track by item.id"
                oi-select-options="{
						cleanModel: true
					}"
                ng-model="search.countries"
                placeholder="Search by country...">
        </oi-select>
    </div>
    <div class="form-group col-sm-2">
        <oi-select
                oi-options="item.id as item.name for item in oss track by item.id"
                oi-select-options="{
						cleanModel: true
					}"
                ng-model="search.oss"
                placeholder="Search by os...">
        </oi-select>
    </div>
    <div class="form-group col-sm-4">
        <input type="search" ng-model="search.created_by"  class="form-control" placeholder="Search by manager">
    </div>
    <br clear="all">
    <div class="form-group col-sm-4">
        <oi-select
                oi-options="item.id as item.name disable when item.legacy for item in carrier track by item.id"
                oi-select-options="{
						cleanModel: true
					}"
                ng-model="search.carrier"
                placeholder="Search by carrier...">
        </oi-select>
    </div>
    <br clear="all">

    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover" id="offers-list">
            <thead>
            <tr>
                <th class="text-center" ng-click="sortBy('id')">#
                    <span ng-show="sortByParam === 'id'" class="glyphicon pull-right" ng-class="reverse === true ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes'"></span>
                    <span ng-show="sortByParam != 'id'" class="glyphicon glyphicon-sort pull-right" style="opacity: 0.2"></span>
                </th>
                <th>Name</th>
                <th class="text-center">Type</th>
                <th class="text-center">Partner</th>
                <th ng-click="sortBy('updated_at')">
                    Last update
                    <span ng-show="sortByParam === 'updated_at'" class="glyphicon pull-right" ng-class="reverse === true ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes'"></span>
                    <span ng-show="sortByParam != 'updated_at'" class="glyphicon glyphicon-sort pull-right" style="opacity: 0.2"></span>
                </th>
                <th class="text-center">Created</th>

            </tr>
            </thead>
            <tr ng-repeat="offer in offers | orderBy:sortByParam:reverse | filter: {partner_id: search.partner_id}:true | filter: {affiliates: search.affiliates}:true | filter: {countries: search.countries}:true | filter: {oss: search.oss}:true | filter:search track by offer.id">
                <td class="text-center" data-ng-bind="offer.id"><b></b></td>
                <td><span ng-if="offer.highlighted===true" class="text-danger glyphicon glyphicon-asterisk" style="font-size: 8px; top: -5px;" data-placement="top" data-toggle="tooltip" title="Affiliate excluded in one or more rules in this offer"></span><a href="/manager/offer/[[ offer.id ]]" {#class="offer-name"#} ng-bind="offer.name" ng-class="!offer.device_type ? 'text-danger' :''"></a></td>
                <td class="offer-type" data-ng-bind="offer.type"></td>
                <td class="offer-partner" data-ng-bind="offer.partner_name"></td>
                <td><small data-ng-bind="offer.updated_at"></small> by <span class="text-primary" data-ng-bind="offer.updated_by"></span></td>
                <td> <small class="text-center" data-ng-bind="offer.created_at"></small> by <span class="text-primary" data-ng-bind="offer.created_by"></span></td>
            </tr>
        </table>
    </div>

</div>