{{ set_title('Offers list') }}
<div class="clearfix col-md-12">
    <h1 class="pull-left">Dashboard:<span style="font-weight:300;"> Offers list</span></h1>
    <div class="pull-right add-new-campaign">
        <a href="/manager/offer/add"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add new offer</a>
    </div>
</div>
<br clear="all">
{{ include_js(asset_module('offers', 'manager/js/offers.js'), '', '', true) }}
<div ng-controller="ListOffersController" ng-init="init()">
	<div class="col-md-6">
	    <div class="input-group form-group">
	        <div class="input-group-btn">
				<button type="button" class="btn" ng-click="clearSearchParam('status')" ng-class="!search.status ? 'btn-info' : 'btn-default'">All</button>
				<button type="button" class="btn" ng-click="search.status = 'active'" ng-class="search.status == 'active' ? 'btn-success' : 'btn-default'">active</button>
				<button type="button" class="btn" ng-click="search.status = 'pending'" ng-class="search.status == 'pending' ? 'btn-warning' : 'btn-default'">pending</button>
        </div>
	        <input type="search" ng-model="search.name"  class="form-control" placeholder="Search by name">
	    </div>
	</div>
	<div class="col-md-3">
			<oi-select
					oi-options="item.id as item.name for item in traffic_type track by item.id"
					oi-select-options="{
	                        cleanModel: true
	                    }"
					ng-model="search.traffic_type_id"
					placeholder="Select traffic type..."></oi-select>
		</div>
	<div class="col-md-3">
	    <oi-select
	            oi-options="item.id as item.name for item in partners track by item.id"
	            oi-select-options="{
	                        cleanModel: true
	                    }"
	            ng-model="search.partner_id"
	            placeholder="Select partner..."></oi-select>
	</div>
	<br clear="all">
	<div class="form-group col-sm-4">
		<oi-select
				oi-options="item.id as item.login for item in affiliates track by item.id"
				oi-select-options="{
						cleanModel: true
					}"
				ng-model="search.affiliates"
				placeholder="Search by affiliate...">
		</oi-select>
	</div>
	<div class="form-group col-sm-2">
		<oi-select
				oi-options="item.id as item.name for item in countries track by item.id"
				oi-select-options="{
						cleanModel: true
					}"
				ng-model="search.countries"
				placeholder="Search by country...">
		</oi-select>
	</div>
	<div class="form-group col-sm-2">
		<oi-select
				oi-options="item.id as item.name for item in oss track by item.id"
				oi-select-options="{
						cleanModel: true
					}"
				ng-model="search.oss"
				placeholder="Search by os...">
		</oi-select>
	</div>
	<div class="form-group col-sm-4">
		<input type="search" ng-model="search.created_by"  class="form-control" placeholder="Search by manager">
	</div>
	<br clear="all">
	<div class="form-group col-sm-4">
		<oi-select
				oi-options="item.id as item.name disable when item.legacy for item in carrier track by item.id"
				oi-select-options="{
						cleanModel: true
					}"
				ng-model="search.carrier"
				placeholder="Search by carrier...">
		</oi-select>
	</div>
	<br clear="all">
	<div class="table-responsive">

	        <table class="table table-bordered table-condensed table-hover" id="offers-list">
	            <thead>
	            <tr>
	                <th class="text-center" ng-click="sortBy('id')">#
						<span ng-show="sortByParam === 'id'" class="glyphicon pull-right" ng-class="reverse === true ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes'"></span>
						<span ng-show="sortByParam != 'id'" class="glyphicon glyphicon-sort pull-right" style="opacity: 0.2"></span>
					</th>
	                <th>Name</th>
	                <th class="text-center">Type</th>
	                <th class="text-center">Partner</th>
	                <th ng-click="sortBy('updated_at')">
						Last update
						<span ng-show="sortByParam === 'updated_at'" class="glyphicon pull-right" ng-class="reverse === true ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes'"></span>
						<span ng-show="sortByParam != 'updated_at'" class="glyphicon glyphicon-sort pull-right" style="opacity: 0.2"></span>
					</th>
					<th class="text-center">Created</th>
	                <th>CPM</th>
	                <th>State</th>
	            </tr>
	            </thead>
	                <tr ng-repeat="offer in offers | orderBy:sortByParam:reverse | filter: {partner_id: search.partner_id}:true | filter: {affiliates: search.affiliates}:true | filter: {countries: search.countries}:true | filter: {oss: search.oss}:true | filter:search track by offer.id">
	                    <td class="text-center"><span data-ng-bind="offer.id"></span><small ng-if="offer.campaigns.length == 0" class="glyphicon glyphicon-star text-danger" style="font-size: 60%; top: -5px;" data-placement="top" data-toggle="tooltip" title="Offer is not included in any campaign"></small><b></b></td>
	                    <td><span ng-if="offer.highlighted===true" class="text-danger glyphicon glyphicon-asterisk" style="font-size: 8px; top: -5px;" data-placement="top" data-toggle="tooltip" title="Affiliate excluded in one or more rules in this offer"></span><a href="/manager/offer/[[ offer.id ]]" {#class="offer-name"#} ng-bind="offer.name" ng-class="!offer.device_type ? 'text-danger' :''"></a></td>
	                    <td class="offer-type" data-ng-bind="offer.type"></td>
	                    <td class="offer-partner" data-ng-bind="offer.partner_name"></td>
	                    <td><small data-ng-bind="offer.updated_at"></small> by <span class="text-primary" data-ng-bind="offer.updated_by"></span></td>
						<td> <small class="text-center" data-ng-bind="offer.created_at"></small> by <span class="text-primary" data-ng-bind="offer.created_by"></span></td>
						<td class="text-center" data-ng-bind="offer.cpm_by_date"></td>

	                    <td class="text-center">
							<div class="btn-group">
								<button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-class="offer.status == 'active' ? 'btn-success' : offer.status == 'pending' ? 'btn-warning' : offer.status == 'deleted' ? 'btn-danger' : 'btn-default'">
									<span ng-if="offer.status == 'active'">active</span>
									<span ng-if="offer.status == 'pending'">pending</span>
									<span ng-if="offer.status == 'deleted'">deleted</span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu pull-right">
									<li><a href="" ng-click="changeState(offer, 'active')">active</a></li>
									<li><a href="" ng-click="changeState(offer, 'pending')">pending</a></li>
									<li><a href="" ng-click="changeState(offer, 'deleted')">deleted</a></li>
								</ul>
							</div>
	                    </td>
	                </tr>
	        </table>
	</div>
</div>