{{ include_js(asset_module('offers', 'manager/js/offer.js'), '', '', true) }}
<script>
    var data = {};
    data.isp = {{ isp |json_encode |raw }};
    data.carrier = {{ carrier |json_encode |raw }};
    data.countries = {{ countries |json_encode |raw }};
</script>
<div ng-controller="EditOfferController" ng-init="loadOffer({{ offer.id }})" data-offerId="{{ offer.id }}">
    {{ set_title('Add/Edit offer - ' ~offer.name) }}

    <h1>Offer:<span style="font-weight:300;"> [[ offer.name ]]</span></h1>

{% form form name="form" class="" %}
    <div class="form-group col-md-4">
        <label class="control-label" for="inputSatsUrl">Offer name</label>
        <div class="controls">
            <input type="text" class="form-control" ng-model="offer.name" value="" required="">
			<span style="color: #d43f3a; font-weight: bold" ng-show="nameRequired">[[nameRequired]]</span>
        </div>
    </div>
    <br clear="all">
    <div class="form-group col-md-3">
        <div class="form-group">
            <label class="control-label">Partner:</label>

			<oi-select
					oi-options="item.id as item.name for item in partners track by item.id"
					ng-model="offer.partner_id"
					oi-select-options="{
    									newItem: 'autocomplete'}"
					placeholder="Select partner...">
			</oi-select>
        </div>
    </div>
    <div class="form-group col-sm-2">
        <label class="control-label">Traffic type:</label>

        <oi-select
                oi-options="item.id as item.name for item in traffic_type track by item.id"
                ng-model="offer.traffic_type_id"
                ng-change="getDirectUrl()"
                placeholder="Select type...">
        </oi-select>
    </div>
    <div class="form-group col-md-2" ng-if="status != 'deleted'">
        <label class="control-label">Status:</label>

		<oi-select
				oi-options="item.id as item.name for item in statuses"
				ng-model="offer.status"
				placeholder="Select status..."
                ng-change="changeState( )">
		</oi-select>
    </div>
    <div class="form-group col-md-5">
        <label class="control-label">Campaign:</label>
            <select chosen
                    data-placeholder="Select campaign..."
                    no-results-text="'There is no such campaign'"
                    ng-model="offer.campaign_ids"
                    ng-options="item.id as item.name for item in campaigns"
                    multiple="multiple"
                    class="center-block form-control">
            </select>
    </div>
    <br clear="all">
    <div class="form-group col-md-1" ng-if="status != 'deleted'">
        <button href="#" ng-click="assignToManager(offer.id)" type="button" class="btn btn-danger" ng-if="offer.id && (offer.current_manager_id !== offer.creator_id)">Assign to me</button>

    </div>
    <div class="form-group col-md-12">
        <label class="control-label" for="inputSatsUrl">Offer direct link</label>
        <br>
        [[ offer.directUrl ]]/go/{AFF_ID}/[[ offer.traffic_type_id ]]/o/{{ offer.id }}?subid1=
    </div>
    <div class="form-group col-md-10">
        <label class="control-label" for="inputSatsUrl">Campaign URL</label>
        <div class="label label-[[offer.url_status.urlStatusClass]]">[[ offer.url_status.date | date : "'Last check at ' dd.MM.yyyy"]] with status "[[ offer.url_status.urlStatus]]"
        </div>
        <div class="controls">
            <input type="text" id="tracker" class="form-control" ng-model="offer.url" value="" required="">
            <div style="padding-top:6px;font-size: 16px;">
                <a href="#" class="pholder label label-primary" ng-click="typeInTextarea('{CLICKID}');">{CLICKID}</a>
                <a href="#" class="pholder label label-primary" ng-click="typeInTextarea('{MID}');">{MID}</a>
                <a href="#" class="pholder label label-primary" ng-click="typeInTextarea('{TRACKER1}');">{TRACKER1}</a>
                <a href="#" class="pholder label label-primary" ng-click="typeInTextarea('{TRACKER2}');">{TRACKER2}</a>
            </div>
        </div>
    </div>
    <div class="form-group col-md-2">
        <label class="control-label">Traffic limit:</label>
        <input type="text" class="form-control" ng-model="offer.settings.traffic_limit">
    </div>
    <br clear="all">
    <div class="form-group col-md-2">
        <label class="control-label">From:</label>
        <input ui-timepicker="timepickerOptions" class="form-control" ng-model="offer.settings.targeting_time.start">
    </div>
    <div class="form-group col-md-2">
        <label class="control-label">Till:</label>
        <input ui-timepicker="timepickerOptions" class="form-control" ng-model="offer.settings.targeting_time.end">
    </div>
    <div class="form-group col-md-8">
        <label class="control-label">Weekdays:</label><br>
        <div class="checkbox-inline" ng-repeat="weekday in weekdays track by weekday.id">
            <label>
                <input type="checkbox" ng-model="offer.settings.targeting_time.weekdays[weekday.id]"> [[ weekday.name ]]
            </label>
        </div>
    </div>
    <br clear="all">
    <br>

    <div class="col-md-12">
        <div class="panel panel-danger offer-payout clearfix" ng-if="status != 'deleted'">
            <div class="panel-heading"><strong>Push offer</strong></div>
        <br>
            <div class="form-group col-md-10">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" ng-model="offer.settings.push_offer.push">Select checkbox to push offer for 24 hours
                    </label>
                 </div>
                <div class="checkbox-inline" ng-if="offer.settings.push_offer.end_time && offer.settings.push_offer.push === true">
                    <label class="text-danger_panel">
                        Offer pushed till [[offer.settings.push_offer.end_time]]
                    </label>
                </div>
            </div>
        </div>
    </div>

    <br clear="all">
    <div class="col-md-12">
        <div class="panel panel-default offer-rule clearfix" ng-repeat="rule in offer.settings.rules track by $index" id="offer-rule-[[$index + 1]]">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Offer rule: [[$index + 1]] <span class="text-danger" ng-if="rule.exclude">Do NOT modify!!! Affiliate excluded from partner.</span></h3>
				<div class="pull-right">
	                <label class="radio-inline">
		                <input type="radio" ng-model="rule.include" value="include" ng-disabled="rule.exclude"> <span class="label label-info">Include</span>
	                </label>
	                <label class="radio-inline">
		                <input type="radio" ng-model="rule.include" value="exclude" ng-disabled="rule.exclude"> <span class="label label-warning">Exclude</span>
	                </label>
	                <button type="button" class="close remove-rule" aria-label="Close" ng-click="removeRule($index)" ng-disabled="offer.status === 'active' && rule.exclude"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="pull-right" style="margin-right: 30px;">
	                <label class="radio-inline">
		                <input type="radio" ng-model="rule.noweight" value="0" ng-disabled="rule.exclude"> <span class="label label-info" style="background-color: #81baa2">Weight</span>
	                </label>
	                <label class="radio-inline">
		                <input type="radio" ng-model="rule.noweight" value="1" ng-disabled="rule.exclude"> <span class="label label-warning" style="background-color: #daa8d6">NO Weight</span>
	                </label>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label class="control-label">Device type:</label>
                <oi-select
                           oi-options="item.id as item.name for item in device_type track by item.id"
                           ng-model="rule.device_type"
                           ng-change="rule = checkDeviceType(rule)"
                           placeholder="Select type..."
                ></oi-select>

            </div>
            <div class="form-group col-md-3">
                    <label class="control-label">Devices:</label>
                <select chosen
                        data-placeholder="Select device..."
                        no-results-text="'There is no such device'"
                        ng-model="rule.device"
                        ng-options="item.id as item.name for item in rule.deviceList"
                        ng-disabled="rule.exclude"
                        width="'100%'"
                        multiple="multiple" class="center-block form-control"></select>
            </div>
            <div class="form-group col-md-4">
	            <label class="control-label">Os:</label>
	            <select chosen
	                    data-placeholder="Select os..."
	                    no-results-text="'There is no such Os'"
	                    ng-model="rule.os"
	                    ng-options="item.id as item.name for item in oss"
                        width="'100%'"
	                    multiple="multiple" class="center-block form-control"></select>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Browser:</label>
                <select chosen
                        data-placeholder="Select browser..."
                        no-results-text="'There is no such browser'"
                        ng-model="rule.browser"
                        ng-options="item.id as item.name for item in browsers"
                        width="'100%'"
                        multiple="multiple" class="center-block form-control"></select>
            </div>
            <br clear="all">
            <label class="col-sm-5 text-info">Tip on hover: <span data-toggle="tooltip" title="{{ tier1 }}">Tier1</span>;
                <span data-toggle="tooltip" title="{{ tier2 }}">Tier2</span>; <span data-toggle="tooltip"
                                                                                    title="All except Tier1 & Tier2">Tier3</span>;
                <span data-toggle="tooltip" title="Tier1+Tier2+Tier3">All</span></label>
            <br clear="all">
            <div class="form-group col-sm-5">
	            <label class="control-label">Country:</label>
                <oi-select ng-disabled="rule.exclude"
                           ng-model="rule.country"
                           multiple
                           placeholder="Select country..." class="center-block" id="country-select"
                           ng-change="rule = changeCountry(rule, 'rule')"
                           oi-options="item.id as item.name for item in rule.countryList track by item.id"
                ></oi-select>
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label">Affiliate:</label>
                <select chosen
                        data-placeholder="Select affiliates..."
                        no-results-text="'There is no such affiliates'"
                        ng-model="rule.affiliate"
                        ng-options="item.id as item.login for item in affiliates"
                        width="'100%'"
                        multiple="multiple" class="center-block form-control"></select>

            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Connection Type:</label>
                <select chosen
                        data-placeholder="Select netspeed..."
                        no-results-text="'There is no such netspeed type'"
                        ng-model="rule.netspeed"
                        ng-options="item.id as item.name for item in netspeed"
                        width="'100%'"
                        class="center-block form-control">
                    <option value="">All</option>
                </select>
            </div>
            <br clear="all">
            <div class="form-group col-sm-6">
                <label class="control-label">ISP:</label>
                <oi-select ng-disabled="rule.exclude"
                           oi-options="item.id as item.name for item in rule.ispList track by item.id"
                           ng-model="rule.isp"
                           ng-change="rule = checkIspAndCarrierAvailability(rule)"
                           multiple
                           placeholder="Select isp..."
                ></oi-select>
                <div class="text-info" ng-if="rule.ispTip">
                    <a class="btn glyphicon glyphicon-sort" data-toggle="collapse" data-target="#collapseIspTip[[$index + 1]]" aria-expanded="false"
                       aria-controls="collapseIspTip[[$index + 1]]"></a>
                    <div class="collapse" id="collapseIspTip[[$index + 1]]">
                        [[rule.ispTip]]
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">Carrier:</label>
                <oi-select ng-disabled="rule.exclude"
                           oi-options="item.id as item.name disable when item.legacy for item in rule.carrierList track by item.id"
                           ng-model="rule.carrier"
                           ng-change="rule = checkIspAndCarrierAvailability(rule)"
                           multiple
                           oi-select-options="{
                            debounce: 200,
                            searchFilter: 'mySearchFilter',
                            dropdownFilter: 'myDropdownFilter'
                        }"
                        placeholder="Select carrier..."
                ></oi-select>
                <div class="text-info" ng-if="rule.carrierTip">
                    <a class="btn glyphicon glyphicon-sort" data-toggle="collapse" data-target="#collapseCarrierTip[[$index + 1]]" aria-expanded="false"
                       aria-controls="collapseCarrierTip[[$index + 1]]"></a>
                    <div class="collapse" id="collapseCarrierTip[[$index + 1]]">
                        [[rule.carrierTip]]
                    </div>
                </div>
            </div>
            <br clear="all">
            <div class="form-group col-sm-12">
                <label class="control-label">Tags:</label>
                <oi-select ng-disabled="rule.exclude"
                        oi-options="item.id as item.name for item in tags track by item.id"
                        ng-model="rule.tags"
                        multiple
                        placeholder="Select tag..."
                ></oi-select>
            </div>
			<div class="form-group col-md-6" ng-repeat="filter in rule.custom_filter">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Custom filter type:</label>
                        <select chosen
                                data-placeholder="Select custom_filter..."
                                no-results-text="'There is no such filter'"
                                ng-model="filter.filter_by"
                                ng-options="item as item for item in custom_filter"
                                width="'100%'"
                                class="center-block form-control">
                            <option value="">----</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Custom filter value:</label>
                        <input  ng-disabled="rule.exclude" type="text" class="form-control" ng-model="filter.filter_by_value">
                    </div>
                    <div class="form-group col-md-2" style="font-size: 18px;">
                        <label class="control-label">&nbsp;</label><br>
                        <a href="" ng-click="addCustomFilter(rule)"><span class="glyphicon glyphicon-plus-sign text-success" aria-hidden="true"></span></a>&nbsp;
                        <a href="" ng-click="removeCustomFilter(rule, $index)"><span class="glyphicon glyphicon-remove-sign text-danger" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
            <br clear="all">
        </div>
        <div class="panel panel-info offer-payout clearfix">
            <div class="panel-heading"><strong>Payouts:</strong></div>
            <br>
            <label class="col-sm-5 text-info">Tip on hover: <span data-toggle="tooltip" title="{{ tier1 }}">Tier1</span>;
                <span data-toggle="tooltip" title="{{ tier2 }}">Tier2</span>; <span data-toggle="tooltip"
                                                                                    title="All except Tier1 & Tier2">Tier3</span>;
                <span data-toggle="tooltip" title="Tier1+Tier2+Tier3">All</span></label>
            <br clear="all">
            <div class="form-group col-md-6" ng-repeat="payout in offer.settings.payouts">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Country:</label>
                        <oi-select
                                oi-options="item.id as item.name for item in payout.countryList track by item.id"
                                ng-model="payout.country"
                                ng-change="payout=changeCountry(payout, 'payout')"
                                multiple
                                placeholder="Select country..."  class="center-block" id="country-select"></oi-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Payout:</label>
                        <input type="text" class="form-control" ng-model="payout.payout">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Currency:</label>
                        <input type="text" class="form-control" ng-model="payout.currency">
                    </div>
                    <div class="form-group col-md-2" style="font-size: 18px;">
                        <label class="control-label">&nbsp;</label><br>
                        <a href="" ng-click="addPayout()"><span class="glyphicon glyphicon-plus-sign text-success"
                                                                      aria-hidden="true"></span></a>&nbsp;
                        <a href="" ng-click="removePayout($index)"><span
                                    class="glyphicon glyphicon-remove-sign text-danger" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info offer-payout clearfix">
            <div class="panel-heading"><strong>Static Affiliate Payout:</strong></div>
            <br>
            <div class="form-group col-md-12" ng-repeat="affiliate_payout in offer.settings.affiliatePayouts">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">Affiliate:</label>
                        <select chosen
                                data-placeholder="Select affiliates..."
                                no-results-text="'There is no such affiliates'"
                                ng-model="affiliate_payout.affiliate"
                                ng-options="item.id as item.login for item in affiliates"
                                width="'100%'"
                                multiple="multiple" class="center-block form-control"></select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Country:</label>
                        <oi-select ng-model="affiliate_payout.country"
                                   multiple
                                   placeholder="Select country..." class="center-block" id="country-select"
                                   ng-change="affiliate_payout = changeCountry(affiliate_payout, 'rule')"
                                   oi-options="item.id as item.name for item in affiliate_payout.countryList track by item.id"
                        ></oi-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Carrier:</label>
                        <oi-select oi-options="item.id as item.name disable when item.legacy for item in affiliate_payout.carrierList track by item.id"
                                   ng-model="affiliate_payout.carrier"
                                   {#ng-change="affiliate_payout = checkIspAndCarrierAvailability(affiliate_payout)"#}
                                   multiple
                                   oi-select-options="{
                                        debounce: 200,
                                        searchFilter: 'mySearchFilter',
                                        dropdownFilter: 'myDropdownFilter'
                                            }"
                                   placeholder="Select carrier..."
                        ></oi-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Os:</label>
                        <select chosen
                                data-placeholder="Select os..."
                                no-results-text="'There is no such Os'"
                                ng-model="affiliate_payout.os"
                                ng-options="item.id as item.name for item in oss"
                                width="'100%'"
                                multiple="multiple" class="center-block form-control"></select>
                    </div>
                    <div class="form-group col-md-1">
                        <label class="control-label">Payout:</label>
                        <input type="text" class="form-control" ng-model="affiliate_payout.payout">
                    </div>
                    <div class="form-group col-md-1">
                        <label class="control-label">Currency:</label>
                        <input type="text" class="form-control" ng-model="affiliate_payout.currency">
                    </div>
                    <div class="form-group col-md-1" style="font-size: 18px;">
                        <label class="control-label">&nbsp;</label><br>
                        <a href="" ng-click="addAffiliatePayout()"><span
                                    class="glyphicon glyphicon-plus-sign text-success" aria-hidden="true"></span></a>&nbsp;
                        <a href="" ng-click="removeAffiliatePayout($index)"><span
                                    class="glyphicon glyphicon-remove-sign text-danger" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info offer-payout clearfix">
            <div class="panel-heading"><strong>Description:</strong></div>
			<textarea style="width: 100%; height: 150px; vertical-align: middle" ng-model="offer.settings.description"></textarea>
        </div>
    </div>
    <div class="form-group col-md-12" ng-if="status != 'deleted'">
        <button type="submit" class="btn btn-success pull-left" ng-click="saveOffer( offer )">Save offer</button>
        &nbsp;<button type="submit" class="btn btn-warning pull-left offer-clone" ng-click="cloneOffer({{ offer.id }})"  ng-disabled="!offer.id">Clone offer</button>
        &nbsp;<a type="submit" class="btn btn-info pull-left offer-clone" href="/manager/offer/add" target="_parent">Add new offer</a>
        <a href="" class="add-rule pull-right btn btn-primary btn-xs" ng-click="addRule()">Add rule <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
    </div>
{% form endform %}
</div>

<script type="text/javascript">
	(function(){
		$(".chosen-select").chosen({});
		$('[data-toggle="tooltip"]').tooltip();

		$(".input-group-btn button").on("click", function(){
			var val = $(this).val();

			$(this).parents(".input-group").find("input:hidden").val(val)
					.parents(".input-group").find(".btn").removeClass("btn-primary").addClass("btn-default").removeAttr("style");
			$(this).removeClass("btn-default").addClass("btn-primary");
			return false;
		});
		$(".pholder").on("click", function() {
			return false;
		});
	})();
</script>
